.footer {
    min-height: 630px;
    position: relative;
    &__info {
        position: absolute;
        padding: 50px 0 60px;
        width: 460px;
        height: 270px;
        background-color: $main_color;
        top: 0;
        right: 50%;
        transform: translateX(50%);
    }
    &__addr {
        color: #ffffff;
        font-size: 20px;
        line-height: 20px;
        font-weight: 500;
        text-align: center;
        margin: 0;
    }
    &__phone {
        display: block;
        color: #ffffff;
        font-size: 20px;
        line-height: 20px;
        font-weight: 700; 
        text-align: center; 
        margin-top: 36px;  
        &:hover {
            color: silver;
        }       
    }
    &__soccial {
        display: flex;
        justify-content: space-between;
        width: 210px;
        margin: 38px auto 0;
    }
    &__soccial-item {
        width: 50px;
        height: 50px;
        border: 2px solid #ffffff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s all;
        &:hover {
            border-color: silver;
        }
        &:active {
            border: none;
        }
        img {
            height: 26px;       
        }
    }
}