.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0, .56);
}
.modal {
    padding: 38px 0 40px;
    position: absolute;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    min-height: 400px;
    background-color: #f2f2f2;
    &__close {
        position: absolute;
        top: 0;
        right: -38px;
        font-size: 41px;
        line-height: 19px;
        text-align: center;
        color: $main_color;  
        cursor: pointer;     
    }
    &__subtitle {
        color: #0d0d0d;
        font-size: 19px;
        line-height: 19px;
        font-weight: 700;
        text-align: center;
    }
    &__descr {
        color: #0d0d0d;
        font-size: 14px;
        line-height: 15px;
        font-weight: 500;
        text-align: center;
        margin-top: 11px;
    }
    &_mini {
        min-height: 140px;
    }
    .feed-form {
        margin: 25px auto 0;
    
    }
    .error {
        border: 1px solid red;       
    }
    label.error {
        border: none;
        text-align: center;
        margin-bottom: 15px;
        font-size: 14px;
    }
}

#consultation, #order, #thx {
    display: none;
}
