.promo {
    min-height: 650px;
    padding: 21px 0 93px;
    background: url('../img/bg/header.jpg') center (center/cover) no-repeat;
    &__wrapper {
        margin-top: 91px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__header {
        color: #ffffff;
        font-size: 42px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 34px;
        margin: 0;
    }
    &__subheader {
        color: #ffffff;
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 20px;
        margin: 17px 0 0 0;
    }
    &__icons {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 425px;
    }
    &__icon {
        width: 108px;
        text-align: center;
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        line-height: 15px;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    &__link {
        margin-top: 18px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        a {
            color: #ffffff;
            text-transform: uppercase;
            text-decoration: underline;
        }
    }
}