.title {
    color: #0d0d0d;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 24px;
    &_left {
        color: #ffffff;
        font-size: 36px;
        text-align: left;
        line-height: 44px;
    }
}